
<div class="container-fluid">
  <div class="col-md-4 float-left"> 
  <div class="listoftargets" data-simplebar>
    <div *ngFor="let target of targetList?.targets"
    class="card text-white row" [ngClass]="{'bg-success': target.status == 'approved', 'bg-warning': target.status == 'pending',
    'bg-danger': target.status == 'declined','bg-info': target.status == 'researching','bg-primary': target.status == 'new'}" (click)="getDetails(target.id)"
    [class.selected]="target.id == selectedCard"> 
        <div class="card-body">
          <p class="comName">{{target.companyInfo?.companyName}}</p>
          <div>
            <span class="col-md-4">Performance: {{target?.performance}}</span>
            <span class="col-md-4 float-right">{{target?.status | uppercase}}</span>
          </div>
        </div>
  </div>
  
  
</div>
</div>
<div class="col-md-8 float-left">
  <app-target-details (updateId)="updateId($event)" (updateList)=updateList($event) [details]="details" [selectedCard]="selectedCard"></app-target-details>
</div>
</div>
