<div class="container">
    <div class="row">
        <div class="btn-group control-buttons">
            <button value="Edit" class="btn btn-primary" [disabled]="!targetForm.valid" (click)="onSubmit(targetForm.controls)">Save</button>
            <button value="Delete" class="btn btn-secondary" (click)="delete()">Delete</button>
        </div>
    </div>
    <hr />

    <form [formGroup]="targetForm" (ngSubmit)="onSubmit(myForm)">
        <label>
            Company name
            <input type="text" formControlName="companyName">
        </label>
        <label>
            Description
            <input type="text" formControlName="description">
        </label>
        <label>
            Status
            <select formControlName="status">
                    <option *ngFor="let stat of statuses" value= {{stat.id}} [selected]="stat.selected == status">
                      {{stat.name | uppercase}}
                    </option>
                  </select>
        </label>
        <label>
            Key Contacts 
            <input type="text" formControlName="contacts">
        </label>
        <label>
                Performance
                <input type="text" formControlName="performance">
            </label>
    </form>

</div>