<div class="container">
    <div class="row">
        <div class="control-buttons">
            <button value="new" class="btn btn-success" (click)="creatNew()">Create New</button>
            <button value="Edit" class="btn btn-primary" [disabled]="!targetForm.valid" (click)="onSubmit(targetForm.controls)">Save</button>
            <button value="Delete" class="btn btn-secondary" [disabled]="!targetForm.valid" (click)="openModal(template)">Delete</button>
        </div>
    </div>
    <hr />
    <div class="row"  *ngIf="showMsg">
            <div class="col-xs-12">
              <p *ngIf="showMsg" class="alert" [ngClass]="{'alert-success': action == 'save','alert-danger': action == 'delete' }">
                  <strong>{{message}}</strong>
    
              </p>
            </div>
        </div>
        <div *ngIf="!targetForm.valid"
    class="alert alert-danger"> Please fill in all the valid details to save or delete.
    </div>
    <form [formGroup]="targetForm" (ngSubmit)="onSubmit(myForm)">
        <label for="companyName">
            <strong>Company name</strong>
            <input id="companyName" type="text" formControlName="companyName" pattern=".*\S+.*" required>
        </label>
        <label>
       <strong>     Description</strong>
            <textarea required type="text" formControlName="description" cols="100" rows="15" pattern=".*\S+.*">{{description}}</textarea>
        </label>
        <label>
           <strong> Status</strong>
            <select required formControlName="status">
                    <option *ngFor="let stat of statuses" value= {{stat.id}} [selected]="stat.selected == status">
                      {{stat.name | uppercase}}
                    </option>
                  </select>
        </label>
        <label>
           <strong> Key Contacts </strong>
            <input required type="text" formControlName="contacts" pattern=".*\S+.*">
        </label>
        <label>
             <strong>   Performance</strong>
                <input required type="text" formControlName="performance" pattern=".*\S+.*">
            </label>
    </form>
    <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Delete</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             Are you sure you want to delete this?
            </div>
            <div class="btn-group btn">
            <button type="button" class="btn btn-secondary" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button></div>
          </ng-template>

</div>